body {
  max-width: 1600px;
  margin: auto;
  font-family: "Raleway", "Arial", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 1340px;
  margin: 92px 49px 90px 51px;
}

.header__menu {
  padding: 43px 0 43px 0;
  display: flex;
  align-items: center;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  padding: 5px 1px 7px 1px;
  display: grid; 
  justify-self: end;
  justify-content: end;
  align-items: center;
  align-content: center;
  width: 240px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  width: 1440px;
  height: 757px;
  margin: 0;
  padding: 0;
}