body {
  max-width: 1440px;
  margin: auto;
  font-family: "Raleway", "Arial", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 1340px;
  margin: 92px 49px 90px 51px;
}

.header__menu {
  display: flex;
  align-items: center;
  padding: 43px 0 43px 0;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: grid; 
  justify-self: end;
  justify-content: end;
  align-items: center;
  align-content: center;
  width: 240px;
  padding: 5px 1px 7px 1px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}




.cover {
  display: grid;
  min-width: 1440px;
  min-height: 757px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
 
}

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6000000238418579);
  background-size: cover;

}

.cover__title {
  /* position: absolute; */
  z-index: 1;
  color: #fff;
  width: 1340px;
  height: 355px;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin: 165px 50px 237px 50px;  
}

.aligned-text {
  display: block;
  padding-bottom: 12px;
  /* text-align: left; */
}

.aligned-text_center {
  text-align: center;
  display: block;
  padding-bottom: 6px;
}

.aligned-text_right {
  text-align: right;
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
}

.cover__description-text {
  
  /* display: grid; */
  grid-column-start: 2;
  width: 633px;
  height: 28px;
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
}

.bet-button {
  grid-column-start: 3;
  /* display: grid; */
  border: 1px solid #FFF;
  width: 257px;
  height: 52px;
  flex-shrink: 0; 
  background: transparent;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}